.menu {
  background-color: #343a40;
  height: 3.5rem;
}

.menu-item {
  display: inline-block;
  color: white;
  font-size: 1rem;
  line-height: 3.5rem;
  width: 25%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #495057;
}

.menu-item:active,
.menu-item.active {
  background-color: #1862ab;
}
